# honor the setting of `skipLibCheck` in the tsconfig.json file
build --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
fetch --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
query --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig

build --experimental_convenience_symlinks=ignore

build --@rules_rust//rust/toolchain/channel=nightly

build --incompatible_strict_action_env

test --test_output=errors
