common --noenable_bzlmod
common --enable_platform_specific_config

build --enable_runfiles

# honor the setting of `skipLibCheck` in the tsconfig.json file
build --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
fetch --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig
query --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig

build --experimental_convenience_symlinks=ignore

build --@rules_rust//rust/toolchain/channel=nightly

build --@rules_rust//:rustfmt.toml=//:rustfmt.toml
build --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect
build --output_groups=+rustfmt_checks
build --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
build --output_groups=+clippy_checks

build --incompatible_strict_action_env

test --test_output=errors

build:linux --sandbox_add_mount_pair=/tmp
build:linux --incompatible_enable_cc_toolchain_resolution
build:linux --action_env BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:linux --extra_toolchains @zig_sdk//toolchain:linux_arm64_gnu.2.28,@zig_sdk//toolchain:linux_amd64_gnu.2.28

build:windows --nolegacy_external_runfiles
