name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Download protoc
      run: |
        mkdir -p vendor/protoc && cd vendor/protoc
        wget https://github.com/protocolbuffers/protobuf/releases/download/v25.2/protoc-25.2-linux-x86_64.zip
        unzip protoc-25.2-linux-x86_64.zip && rm protoc-25.2-linux-x86_64.zip
        echo "PROTOC=$(pwd)/bin/protoc"
        echo "PROTOC=$(pwd)/bin/protoc" >> $GITHUB_ENV
    - name: Use nightly toolchain
      run: rustup override set nightly
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
